.head{
  display: flex;
  gap:10px;
  justify-content: center;
  margin: 20px;
  flex-wrap: wrap;
}

.urlInput{
  padding: 12px 10px;
  border: 0px;
  border-radius: 5px;
  width: 320px;
  outline: none;
  font-size: 1.2rem;
  font-family: 'Salsa';
}
.container{
  padding: 1rem;
}

@media (max-width:600px){
  .container{
    padding: 0.5rem;
  }
}

@media (max-width:525px){
  .container{
    padding: 2px;
  }
  button{
    padding: 0px;
    font-size: 0.5em;
  }
}